@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}
.mystudentPageName{
    position: absolute;
    top: 20px;
    left: 270px;
    font-size: 35px;
    font-weight: 400px;
    font-family: 'Poppins';
}
.mystudentForm{
    margin-left: 20%;
}
.color{
    display: flex;
}

.myStudents{
    position: absolute;
    top: 20px;
    left: 270px;
    font-size: 35px;
    font-weight: 400px;
    font-family: 'Poppins';
}

.inputMystudent{
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    width: 600px;
    height: 50px;   
    font-size: 18px;
}

.label{
    display: grid;
    margin-bottom: 5px;
}

.AddLecture{
    font-family: 'Noto Sans', sans-serif;
}

.submit{
    background: rgba(247, 228, 228, 0.46);
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 50px;
    cursor: pointer;
    font-family:'Poppins';
    margin-left: 190px;
    font-size: 18px;
    margin-top: 15px;
}

.color input{
    width: 150px;
    margin-top: 10px;
}

.color{
    display: grid;
}

.colorpick{
    display: flex;
}
