@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.color{
    display: flex;
}

h1{
    font-size: 26px;
    margin-top: -131px;
    margin-left: -30px;
    font-family: 'Noto Sans', sans-serif;
}

input{
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    width: 500px;
    height: 35px;
    
}

label{
    display: grid;
}

.AddLecture{
    font-family: 'Noto Sans', sans-serif;
}

button{
    background: rgba(212, 212, 212, 0.46);
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 34px;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 190px;
    margin-top: 15px;
}

.color input{
    width: 150px;
    margin-top: 10px;
}

.color{
    display: grid;
}

.colorpick{
    display: flex;
}
