@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.color{
    display: flex;
}

.myStudents{
    position: absolute;
    top: 20px;
    left: 270px;
    font-size: 35px;
    font-weight: 400px;
    font-family: 'Poppins';
}

.inputMystudent{
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    width: 500px;
    height: 35px;
    
}

.label{
    display: grid;
}

.AddLecture{
    font-family: 'Noto Sans', sans-serif;
}

.submit{
    background: rgba(212, 212, 212, 0.46);
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 34px;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 190px;
    margin-top: 15px;
}

.color input{
    width: 150px;
    margin-top: 10px;
}

.color{
    display: grid;
}

.colorpick{
    display: flex;
}
