@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.pagetitle{
    padding-left: 300px;
    padding-top: 50px;
    font-size: 10px;
}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    position: absolute;
    top: 0px;
    background-color: white;
    color: #717579;
    height: 1080px;
    width: 230px;
    border-right: 1px solid;
    border-color: #EEEEEE;
    float: left;
}

.top_section {
    display: flex;
    align-items: center;
}

.logo {
    width: 155px;
    height: 50px;
    color: #00A8C6;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
}

.mainmenu {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    color: #D7D7D7;
    margin-left: 40px;
    margin-top: 55px;
}

.link {
    display: flex;
    color: #717579;
    padding: 7px 15px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600px;
    gap: 20px;
    width: 180px;
    padding-top: 15px;
    margin: 5px 12px 5px 12px;
}


.link:hover {
    background: rgba(64, 192, 203, 0.14);
    border-radius: 16px;
    height: auto;
    color: rgba(29, 137, 147, 1);
    width: 180px;
}

.icon {
    margin-left: 10px;
    padding-bottom: 2px;
}

.link_text {
    padding-top: 2px;
    /*아이콘과 텍스트 정렬 일부로 맞춰줌.*/
}

.active {
    background-color: rgba(64, 192, 203, 0.14);
    color: rgba(29, 137, 147, 1);
    font-weight: 600;
    border-radius: 16px;
}